
<div class="row">
<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Log In</h4>
      <p class="card-category">Enter your email and password to Log In</p>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Email</label>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Password</label>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          
        <!-- <button type="submit" class="btn btn-primary pull-right">Update Profile</button>-->
        <div class="clearfix"></div>
        <%= f.submit "Log In", class: "btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
</div>
</div>

