<div class="row">
  <div class="col-md-12">
    <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Receipts from last 14 days</h4>
                  <p class="card-category">View all your receipts here</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                    <thead class="text-warning">
                      <th>Date</th>
                      <th>Retailer</th>
                      <th>Amount</th>
                      <th>Category</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>15&nbsp;Aug</td>
                        <td>Aeon Big</td>
                        <td>RM 36.70</td>
                        <td>Grocery</td>
                      </tr>
                      <tr>
                        <td>12&nbsp;Aug</td>
                        <td>Guardian Pharmacy</td>
                        <td>RM 66.70</td>
                        <td>Supplements</td>
                      </tr>
                      <tr>
                        <td>10&nbsp;Aug</td>
                        <td>GSC Cinema Midvalley Megamall</td>
                        <td>RM 16.50</td>
                        <td>Entertainment</td>
                      </tr>
                      <tr>
                        <td>4&nbsp;Aug</td>
                        <td>Famous Amos Cookies</td>
                        <td>RM 36.70</td>
                        <td>Food and beverage</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
  </div>
</div>